.registerPageBackground {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: #ffdfe0;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.welcomeRegisterCover {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.welcomeRegisterBox {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* margin: 20px; */

  width: 100%;
  max-width: 800px;
  min-width: 240px;
  min-height: 500px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 10px 10px 13px -6px rgba(185, 96, 92, 0.75);
  display: flex;
}

@media screen and (max-width: 600px) {
  .welcomeRegisterBox {
    flex-direction: column;
    max-width: 400px;
  }

  .welcomeBox,
  .registerBox {
    min-height: 450px;
  }

  .welcomeContext {
    height: fit-content;
  }

  .buttonBoxSignUp {
    margin-top: 0 !important;
  }
}

.welcomeRegisterBox > div {
  flex: 1;
}

.welcomeBox,
.registerBox {
  border-radius: 20px;

  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.welcomeBox {
  background: linear-gradient(
    to Bottom,
    rgb(185, 96, 92) 0%,
    rgb(211, 144, 141) 50%,
    rgb(251, 229, 229) 100%
  );
  color: #fff;
  box-shadow: 10px 10px 13px -6px rgba(185, 96, 92, 0.5);
}

.welcomeContext {
  text-align: center;
  padding: 20px;
}

/* Button */
.signInButton > .MuiButton-root {
  background-color: #fff !important;
  color: #b9605c;
  border-radius: 20px;
  padding: 10px 20px;

  margin-top: 20px;
  width: 150px;
}

.registerDetail {
  color: #b9605c;
}

.registerTitle {
  margin-bottom: 50px;
}

.inputBoxRegisterPassword,
.inputBoxRegisterUserName,
.inputBoxRegisterConfirmPassword {
  max-width: 350px !important;
}

.inputBoxRegisterPassword
  > .MuiFormControl-root
  > .MuiInput-root
  > .MuiInput-input,
.inputBoxRegisterUserName
  > .MuiFormControl-root
  > .MuiInput-root
  > .MuiInput-input,
.inputBoxRegisterConfirmPassword
  > .MuiFormControl-root
  > .MuiInput-root
  > .MuiInput-input {
  color: #b9605c !important;
}

/* .inputBoxRegisterPassword > .MuiFormControl-root > .MuiInput-root :before,
.inputBoxRegisterUserName > .MuiFormControl-root > .MuiInput-root :before,
.inputBoxRegisterConfirmPassword
  > .MuiFormControl-root
  > .MuiInput-root
  :before {
  border-bottom: 1px solid rgba(185, 96, 92, 0.42) !important;
} */

.inputBoxRegisterUserName > .MuiFormControl-root,
.inputBoxRegisterPassword > .MuiFormControl-root,
.inputBoxRegisterConfirmPassword > .MuiFormControl-root {
  width: 100% !important;
}

.buttonBoxSignUp > .MuiButton-root {
  /* background-color: #fff !important; */
  color: #b9605c;
  border-radius: 20px;
  padding: 10px 20px;

  margin-top: 20px;
  width: 100%;

  border: 1px solid #b9605c;
}
